
header {
    width: 1300px;
    background-color: #fff;
}

div ul {
    display: flex;
    gap: 25px;
}

.img {
    width: 22px;
    height: 22px;
    margin-left: 15px;
}

.bm {
    color: #ff5400;
    margin-left: 5px;
}

.bm0 {
    display: flex;
    align-items: center;
}

.bm1 {
    margin-left: 20px;
    margin-left: 10px;
}

.b1 {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.bm1 li {
    list-style: none;
    align-items: center;

}

.home1 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #ff5400;
}

.first {
    background-image: url(./Images/Group\ 13\ \(1\)\ \(1\).png);
    width: 1200px;
    height: 500px;
    text-align: center;
    justify-content: center;

}

.nav-text {
    justify-content: center;
}

.text {

    justify-content: center;
    color: #fff;
}

.h1 {
    font-size: 64px;
    font-weight: 800;
    font-style: normal;
    line-height: normal;

}

.banner-text {
    display: flex;
    justify-content: center;

}

.img-search {
    height: 12px;
    width: 15px;
}

.nav-input {
    display: flex;

    margin: 90px;
    justify-content: center;
    padding: 16px 10px;
    gap: 10px;

}

.batton {
    font-style: normal;
    font-size: 10px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    background: #FF5400;
border: none;
}
.comone{
    color: #FF5400;
}
.bb{
    border-radius: 50%;
    background-color: #FF5400;
}
.bm2 {
    margin-left: 20px;
    margin-top: 25px;
    display: flex;
    width: 600px;
}

.bm2 ul {
    display: grid;
    width: 555px;
}

.text-1 {
    font-size: 16px;
}

.img-1 {

    margin-left: 15px;
}

.bm-3 {


    margin: 20px;
    padding: 0 20px;
    line-height: 5px;
    justify-content: center;
}



.bm-4 {
   justify-content: center;
    gap: 5px;
    display: grid;
}
.bm-5{
    justify-content: center;
    margin-left:20px ;
    line-height: 5px;
}
.bandhon{
    display: flex;
   
}
.bm6{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(251, 181, 99, 0.05)  ;
    column-gap: 15px;
    border: 1px solid rgba(251, 181, 99, 20.05);
    border-radius: 8px;
    width: 400px;
    justify-content: center;
    line-height: 15px;
    padding: 10px;
}
.imgs{
    width: 35px;
    height: 35px;
   
}
.bm7{
    border-radius: 8px;
    width: 400px;
    justify-content:space-between ;
    line-height: 15px;
   background: rgba(41, 206, 246, 0.05) ;
   border: 1px solid rgba(251, 181, 99, 20.05);
   padding: 10px;
   margin-top: 15px;
   margin-left: auto;
   margin-right: auto;
}
.bm8{
    justify-content: center;
    line-height: normal;
}
.bm9 img{
    width: 22px;
    height: 22px;
}
.bm9{
    display: flex;
    
}
.bm9 div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.bm10{
    background-image: url(./Images/Group\ 39.png);
  
    
padding: 30px;
}
.bm11{
    padding: 15px;
    border: 1px solid #FFF;
     background: rgba(255, 255, 255, 0.80); 
    backdrop-filter: blur(2.5px);
    width: 400px;
    height: 300px;
   
    margin: 10px 5px 10px 670px;
    border-radius: 10px;
    
}
.bm12{
    background-image: url(./Images/Group\ 40.png);
    padding: 30px;
}
.bm13{
    background-image: url(./Images/Group\ 39.png);
    padding: 30px;
}

.bm14{
    padding: 15px;
    border: 1px solid #FFF;
     background: rgba(255, 255, 255, 0.80); 
    backdrop-filter: blur(2.5px);
    width: 400px;
    height: 300px;
   
    margin: 10px 5px 10px 30px;
    border-radius: 10px;
}
.bm15 nav{
    gap: 20px;
    margin: 15px;
    border-radius: 15px;
}
.all-Packages{
    justify-content: center;
}
.bm16{
    margin: 20px;
    
    display: flex;
    gap: 15px;
   
}
.bm17 {
    width: 500px;
    height:auto;
}
.bm18{
    padding: 15px;
    border: 2px solid rgb(236, 217, 214);
    background-color: rgb(248, 246, 243);
    width: 490px;
    height: auto;
    border-radius: 15px;
}
.bm19>ul{
    display: grid;

}